@import "../base.scss";

.filter-panel {
  margin-top: -32px;
}

.filter-panel-wrapper {
  padding: 0.75rem 1.25rem;
  display: flex;
  justify-content: space-between;
}

.link {
  color: $grey-800;
  text-decoration: none;
  border: none;
  background-color: transparent;
  cursor: pointer;
  font-weight: $fw-bold;
  padding: 0.5rem;
  &:hover {
    color: $primary;
    text-decoration: underline;
  }
}
